<h1> In Credentials show </h1>


<p>
   <em>User name:</em>
   <%= @credential.userName %>
</p>

<p>
   <em>Password Question:</em>
   <%=  @credential.passQuestion %>
</p>

<div>
<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Done, send to customers if signing up', new_customer_path %> 
</div>

<div>
<h2> If you have reached here through the login page I need to still do a bit of coding to get you over to the correct customer.</h1>
</div>